<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style-minimal-serif-paper.css" | relURL }}">
  </head>
  <body>
    <header>
      <strong><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></strong>
      {{ with .Site.Menus.main }}
        <nav>
          {{ range . }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </nav>
      {{ end }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
